body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.nav-logo{
    width: 150px;
}

.navbar-nav{
    justify-content: center;
    align-items: center;
}

.account-info{
    margin-right: 20px;
}

.butt-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar {
    box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.275);
    /* padding: 8px 100px; */
}

.navbar-toggler{
    border: none;
}

.navbar-toggler:focus{
    outline: none;
}

.body-content{
    display: flex;
    justify-content: center;
}
.body-wrap{
    width: 80%;
}

.welcome-wrap{
    padding: 1rem;
    display: flex;
    justify-content: center;
    margin: 1rem 0;
    flex-direction: column;
    align-items: center;
}

.w-title{
    font-size: 2.5rem;
}

.w-desc{
    margin: 1rem 0 2rem 0;
    font-size: 1.25rem;
}
    
.card-body{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem !important;
}

.card-title{
    margin-bottom: 0 !important;
    opacity: 1;
}

.col-md-4{
    padding: 15px;
}

.card:hover .overlay{
    cursor: pointer;
    opacity: 1;
}

.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008cba;
  }

.view:hover {
    cursor: pointer;
}
  
.view{
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}



.login-container{
    justify-content: center;
    margin-top: 10%;
}

.l-col{
    padding: 50px !important;
    border: 1px solid rgba(145, 144, 144, 0.438);
    border-radius: 5px;
}

.l-title{
    font-size: 2rem !important;
    margin-bottom: 2rem !important;
}

@media(max-width:990px){
    .account-info{
        padding: 15px 0;
        margin-right: 0px;
    }

    .navbar {
        padding: 8px 16px;
    }
}

@media(min-width:480px){
    
}

@media(min-width:768px){
    
}